@font-face {
    font-family: 'SuperMario';
    src: url('zFontsupermario.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'SuperMario', sans-serif;
}

.welcome-container {
    position: static;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Imagenes2/5w.jpg') center/cover no-repeat;
    z-index: -1;
}

.welcome-content {
    margin-top: -250px;
    text-align: center;
    background: linear-gradient(to right, #d00f0c, #6b0dcf, #a3fc13);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h1 {
    margin: 0;
    margin-top: 45px;
    font-size: 3.5em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.project-info {
    margin-top: 20px;
    font-size: 2.2em;
}

.enter-name-btn, .go-to-game-btn {
    background-color: #fa0727;
    height: auto;
    width: auto;
    border-radius: 10px; /* Bordes redondeados */
    margin: 4px;
    margin-top: 1px;
    font-size: 18px;
    color: rgb(242, 235, 235);
    font-weight:500;
    font-family: 'SuperMario', sans-serif;
}


  /* Cambia el color al pasar el mouse */
  .enter-name-btn:hover {
    background-color: #ed1111;
    color: rgb(243, 238, 238);
  }


@keyframes brillo {
    0% {
        text-shadow: 0 0 10px rgb(15, 15, 14); /* Brillo amarillo al inicio */
    }
    50% {
        text-shadow: 0 0 20px rgb(9, 9, 9); /* Brillo amarillo en la mitad */
    }
    100% {
        text-shadow: 0 0 10px rgb(3, 3, 3); /* Brillo amarillo al final */
    }
}

.members {
    position: absolute;
    bottom: 20px;
    right: 1230px;
    color: rgb(227, 214, 214);
    text-align: left;
    font-size: 1.1em;
    animation: brillo 2s infinite; /* La animación dura 2 segundos y se repite infinitamente */
}

.members-label {
    margin-bottom: 0;
}

.members-label {
    font-size: 2em;
    margin-bottom: -0;
}

.members ul {
    list-style: none;
    padding: 0;
}

.members li {
    margin-bottom: 5px;
    font-weight: none;
}

.name-input-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(18, 13, 13, 0.895);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 200px;
}

.name-input-box input {
    margin-top: 55px;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.name-input-box button {
    background-color: yellow;
    border-bottom: #6b0dcf;
    color: rgb(9, 9, 9);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: normal;
    font-family: 'SuperMario', sans-serif;
    font-size: 22px;
}

.registrar1 {
    background-color: #fa0727;
    color:rgb(246, 246, 252);
    border: 1px solid #d00f0c; /* Agrega el grosor y el tipo de borde necesario (en este caso, sólido) */
    border-radius: 10px; /* Ajusta el valor de border-radius según la curvatura deseada */
    padding: 6px; /* Ajusta el relleno según sea necesario */
    transition: transform 0.3s ease;
}

.registrar1:hover {
    transform: scale(1.1); /* Aplica una escala del 110% al pasar el cursor sobre el elemento */
}


.ir-ahora {
    background-color: #fa0727;
    height: auto;
    width: auto;
    border-radius: 10px; /* Bordes redondeados */
    margin: 4px;
    margin-top: 1px;
    font-size: 18px;
    color: rgb(242, 235, 235);
    font-weight:500;
    font-family: 'SuperMario', sans-serif;
    
    
  }

  /* Cambia el color al pasar el mouse */
  .ir-ahora:hover {
    background-color: #ed1111;
    color: rgb(243, 238, 238);
  }


  

  